<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find sim_helper)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find sim_helper)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find sim_helper)/urdf/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find sim_helper)/urdf/asus_xtion_pro.urdf.xacro"/>

  <kobuki/>
  <stack_hexagons                 parent="base_link"/>
  <sensor_asus_xtion_pro          parent="base_link"/>
  <gazebo>
  	<plugin name="ground_truth_odom" filename="/opt/ros/kinetic/lib/libgazebo_ros_p3d.so">
        	<alwaysOn>true</alwaysOn>
        	<frameName>world</frameName>
        	<bodyName>base_link</bodyName>
        	<topicName>odom_truth</topicName>
        	<gaussianNoise>0.0</gaussianNoise>
        	<updateRate>30.0</updateRate>
        	<xyzOffsets>0 0 0</xyzOffsets>
        	<rpyOffsets>0 0 0</rpyOffsets>
    	</plugin>
  </gazebo>
</robot>
