<!-- Launches an empty world and simulated vehicles in Gazebo.  Called by Master.py-->

<launch>

  <!-- Spawns the simulated multirotor -->
  <arg name="multirotor" value="camera_multirotor.launch" />
  <include file="$(find sim_helper)/launch/$(arg multirotor)" />

    <arg name="fleet_controller" value="fleet_controller.launch" />
  <include file="$(find sim_helper)/launch/$(arg fleet_controller)" />
</launch>


