<!-- Launches an empty world and simulated vehicles in Gazebo.  Called by Master.py-->

<launch>

  <!-- Spawns the simulated multirotor -->
  <arg name="multirotor" value="camera_multirotor.launch" />
  <include file="$(find sim_helper)/launch/$(arg multirotor)" >
    <arg name="x" value="0.3" />
	<arg name="y" value="0.2" />
  </include>

  <!-- Enables/Disables spawning turtlebots -->
  <arg name="spawn_turtles" value="True"/>

	<!-- Spawns the turtlebots -->
    <group if="$(arg spawn_turtles)">
		<group ns="robot0">
			<include file="$(find sim_helper)/launch/kobuki.launch.xml">
				<arg name="name" value="robot0" />
				<arg name="x" value="1.30" />
				<arg name="y" value="-1.26" />
			</include>
		</group>
		<!-- Uncomment to add more bots -->
		<!--<group ns="robot1">
			<include file="$(find sim_helper)/launch/kobuki.launch.xml">
				<arg name="name" value="robot1" />
				<arg name="x" value="-0.9" />
				<arg name="y" value="2.25" />
			</include>
		</group>
		<group ns="robot2">
			<include file="$(find sim_helper)/launch/kobuki.launch.xml">
				<arg name="name" value="robot2" />
				<arg name="x" value="-1.83" />
				<arg name="y" value="1.74" />
			</include>
		</group> -->
	</group>
</launch>


